@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
header{
    background-image: url("Images/image 7.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
    padding: 20px;
}
.navbar{
    width: 100%;
    
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
}
p{
    font-size: 30px;
    color: white;
    font-family: "Roboto";
}

.navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 90px;
}
.navbar ul li{
    list-style: none;
    font-family: "Roboto";
}

.navbar a{
    text-decoration: none;
    color: white;
}