@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
header{
    background-image: url("Images/image 7.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 950px;
    position: relative;
}
.navbar{
    width: 100%;
    
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
}
.navbar p{
    font-size: 30px;
    font-weight: 700;
}
.ecriture p{
    font-size: 30px;
    color: white;
    font-weight: 800;
}

.navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 90px;
    padding: 60px;
}
.navbar ul li{
    list-style: none;
    font-size: 20px;
}

.navbar a{
    text-decoration: none;
    color: white;
}

.milieu{
    background-color: white;
    width: 70%;
    height: 310px;
    border-radius: 45px;
    top: 110%; 
    position: absolute;
    top: 800px;
    padding: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.ecriture p:first-child{
    color:#008EC4;
    font-weight: 700;
    font-size: 70px;

}
.ecriture p:last-child{
    font-weight: 400;

    color: black;
}
.images{
    height: 45%;
    border-radius: 90px;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    border: 1px solid rgba(128, 128, 128, 0.233);
}
.un{
    width: 22%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.paragr p:first-child{
    color: black;
    font-size: 20px;
}
.paragr p:last-child{
    color: gray;
    font-size: 20px;
    font-weight: 400;
}
.deux{
    border-left: 0.5px solid gray;
    width: 22%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.trois{
    border-left: 0.5px solid gray;
    width: 22%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.quatre{
    border-left: 0.5px solid gray;
    width: 22%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.images .fa-solid {
    font-size: 35px;
    color: #a9a9a9;
}
.fa-brands{
    width: 60px;
    height: 60px;
    font-size: 50px;
    background-color: #008EC4;
    border-radius: 50%;
    margin-right: 30px;
    color: white;
}
.ent p{
    color: black;
    padding: 300px 0px 60px 0px;
    margin: auto;
    text-align: center;
    width: 80%;
    font-size: 50px;
    font-weight: 700;
} 
.element{
    margin: 0 auto;
    text-align: center;
    width: 80%;
    height: 400px;
}
.row{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.srow i{
    font-size: 40px;
    margin-bottom: 10%;
    background-color: #008dc431;
    border-radius: 10px;

}

.srow .fa-solid{
    padding: 20px;
    color: #008EC4;
}
.srow h3{
    font-size: 22px;
}
.srow p{
    font-size: 17px;
    font-weight: 300;
}
.grand h3{
    color: black;
    margin: auto;
    text-align: center;
    width: 80%;
    font-size: 50px;
    font-weight: 700;
}
.sgrand{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
    padding: 60px;
}
.sgrand p{
    font-size: 25px;
}
.sous{
    gap: 10px;
    width: 30%;
    border: 1px solid black;
    height: 60px;
    gap: 10px;
    
}
.sous p{
    
}
/* #sec1{
    width: 100%;
    height: 1900px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.ent p{
    
    color: black;
    position: absolute;
    top: 350px;
    right: 800px;
    font-weight: 900;
}
.class{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
}
.bas{
    width: 450px;
    height: 400px;
    margin-top: -600px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bas .fa-solid{
    font-size: 50px;
    position: absolute;
    transform: translate(50);
    left: 40%;
    top: 15px;
    width: 90px;
    height: 90px;
    background-color: #04b0f42f;
    border-radius: 20% ;
    padding: 10px;
    color: #008EC4;
}
.dos{
    width: 100%;
    height: 200px;
    margin-top: 150px;
    font-size: 22px;
    text-align: center;
    font-weight: 300;
}
.dos p{
    color: black;
    font-size: 25px;
    font-weight: 700;
}
.fa-brands{
    color: white;
}
.grand{
    position: relative;
}
.grand h3{
    position: absolute;
    font-size: 50px;
    color: black;
    
    font-size: 55px;
    font-weight: 900;
}    
.element{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.tex p{
    color: black;
    font-weight: 400;
} */