@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
header{
    background-image: url("Images/image 7.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 950px;
    position: relative;
}
.navbar{
    width: 100%;
    
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
}
.navbar p{
    font-size: 30px;
    font-weight: 700;
}
.ecriture p{
    font-size: 30px;
    color: white;
    font-weight: 800;
}

.navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 90px;
    padding: 60px;
}
.navbar ul li{
    list-style: none;
    font-size: 20px;
}

.navbar a{
    text-decoration: none;
    color: white;
}

.milieu{
    background-color: white;
    width: 70%;
    height: 310px;
    border-radius: 45px;
    top: 110%; 
    position: absolute;
    top: 800px;
    padding: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.ecriture p:first-child{
    color:#008EC4;
    font-weight: 700;
    font-size: 70px;

}
.ecriture p:last-child{
    font-weight: 400;

    color: black;
}
.images{
    height: 45%;
    border-radius: 90px;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    border: 1px solid rgba(128, 128, 128, 0.233);
}
.un{
    width: 22%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.paragr p:first-child{
    color: black;
    font-size: 20px;
}
.paragr p:last-child{
    color: gray;
    font-size: 20px;
    font-weight: 400;
}
.deux{
    border-left: 0.5px solid gray;
    width: 22%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.trois{
    border-left: 0.5px solid gray;
    width: 22%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.quatre{
    border-left: 0.5px solid gray;
    width: 22%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.images .fa-solid {
    font-size: 35px;
    color: #a9a9a9;
}
.fa-brands{
    width: 60px;
    height: 60px;
    font-size: 50px;
    background-color: #008EC4;
    border-radius: 50%;
    margin-right: 30px;
    color: white;
}
.ent p{
    color: black;
    padding: 300px 0px 60px 0px;
    margin: auto;
    text-align: center;
    width: 80%;
    font-size: 50px;
    font-weight: 700;
} 
.element{
    margin: 0 auto;
    text-align: center;
    width: 80%;
    height: 400px;
}
.row{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.srow i{
    font-size: 40px;
    margin-bottom: 10%;
    background-color: #008dc431;
    border-radius: 10px;

}

.srow .fa-solid{
    padding: 20px;
    color: #008EC4;
}
.srow h3{
    font-size: 22px;
}
.srow p{
    font-size: 17px;
    font-weight: 300;
}
.grand h3{
    color: black;
    margin: auto;
    text-align: center;
    width: 80%;
    font-size: 50px;
    font-weight: 700;
}
.sgrand{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 90px;
}
.sgrand p{
    font-size: 25px;
}
#nom{
    width: 90%;
    height: 1200px;
    margin: 70px;
}
.haut{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    
}
.haut .p{
    width: 350px;
    height: 350px;
}

.bas{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.bas .p{
    width: 350px;
    height: 350px;
}

.p img{
    object-fit: cover;
    width: 100%;
    height: 360px;
    border-radius: 10px;
}
.p{
    position: relative;
}
.p .etoile{
    position: absolute;
    color: white;

}
.etoile{
    background-color: rgba(0, 0, 0, 0.596);
    border-radius: 5px;
    padding: 7px;
    top: 35px;
    left: 270px;
}
.ecrit span{
    font-weight: 700;
}
.location{
    display: flex;
    gap: 5px;
    font-weight: 300;
}
.location p{
    font-size: 13px;
}

.info{
    width: 200px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

}
.explore{
    width: 100%;
    height: 1000px;
    background-image: url(Images/image\ 13.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    align-items: baseline;
    justify-content: center;
    position: relative;

}
.explore h1{
    font-size: 120px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px;
}
.explore hr{
    color: white;
    width: 95%;
    margin: 15px;
}
.pp{
    width: 35%;
    height: 200px;
    margin: 90px;
}
.pp span{
    color: white;
    margin: 20px;
    font-size: 26px;
    display: flex;
    align-items: baseline;
    justify-content: baseline;

}
.in{
    width: 200px;
    height: 60px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 90px;
    
}
.in span{
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 20px;
}

.g{
    width: 50%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: absolute;
    right: 100px;
    top: 450px;
}
.m{
    width: 35%;
    height: 400px;
    border-radius: 20px;
  
}
.m p{
    color: white;
    font-weight: 700;
    font-size: 17px;
}
.g img{
    width: 100%;
}

.feature{
    margin: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(42, 41, 41);
}

.feature span{
    font-size: 40px;
    border: 1px solid rgba(79, 77, 77, 0.523);
    border-radius: 10px;
    font-weight: 300;
    padding: 15px;
}

.feature h2{
    font-size: 42px;
    padding: 25px;
}
.jol{
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  
}
.t{
    width: 21%;
    height: 700px;
    border-radius: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.t img{
    border-radius: 40px 40px 0 0;
    width: 100%;
}
.t .fa-solid{
    font-size: 30px;

}
.cal{
    display: flex;
    align-items: center;
    margin: 30px;
}
.cal p{
    font-size: 18px;
    font-weight: 300;
}
.t h2{
    margin: 25px;
}
.t p{
    margin: 25px;
}
.d{
    display: flex;
    align-items: baseline;
    justify-content: baseline;
    margin: 25px;
    gap: 10px;
}
.d span:first-child{
    width: 30px;
    height: 30px;
    font-size: 20px;
    border: 1px solid #008EC4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.d span{
    color: #008EC4;
}
.d span:last-child{
    font-weight: 700;
}

.hello{
    background-repeat: no-repeat;
    /* background-image: url(Images/dernier\ image\ projet.jpeg); */
    width: 100%;
    height: 800px;
    background-size: cover;
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.735)),
    url("Images/dernier\ image\ \ projet.jpeg");
}
.hello h1{
    font-size: 70px;
    color: white;
    padding: 90px;
    position: relative;
}
.pho{
    width: 90%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 90px;
    gap: 40px;
}

.pho .i{
    background-color: white;
    width: 25%;
    height: 300px;
    border-radius: 25px;
}
.i{
    position: relative;
}
.i img{
    position: absolute;
    left: 35px;
    top: -50px;
} 
.i p{
    margin-top: 50px;
    padding-left: 30px;
    font-weight: 700;
}
.i span{
    font-size: 12px;
    padding-left: 30px;
}
.i h6{
    margin-left: 300px;
    margin-top: -40px;
    font-size: 13px;
}
.i .mai{
    width: 100%;
    height: 150px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}
.mai h5{
    font-weight: 300;
    font-size: 15px;
    padding-left: 30px;
}
.special{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
}
.special .bla{
    width: 90%;
    height: 350px;
    border-radius: 40px;
    background-color: rgba(128, 128, 128, 0.055);
}
.bla img{
    border-radius: 40px 0 0 40px;
    height: 100%;
}
.bla{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.get{
    width: 60%;
    height: 250px;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    
}
.get span{
    font-size: 30px;
    font-weight: 700;
}
.lon{
    background-color: white;
    width: 90%;
    height: 70px;
    font-size: 17px;
    margin: 40px;
    border-radius: 35px;
    box-shadow: rgba(100, 100, 111, 0.205) 0px 7px 29px 0px;
    border: none;
}
.sub{
    background-color: #008EC4;
    width: 20%;
    color: white;
    font-weight: 800;
    font-size: 15px;
    height: 50px;
    border-radius: 35px;
    border: none;
    position: absolute;
    left: 770px;
    top: 140px;
    cursor: pointer;
}
.flooter{
    background-color: black;
    width: 100%;
    height: 390px;
    position: relative;
}
.azerty{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.w{
    width: 15%;
    height: 120px;
    padding: 15px;
    color: white;
    
}
.w span{
    font-size: 22px;
    font-weight: 700;
    
}
.k{
    
    width: 30%;
    height: 120px;
}
.k span{
    color: white;
    font-size: 22px;
    font-weight: 700;
}
.w p{
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 10px;
}
.k .fa-brands{
    color: white;
    background-color: black;
    font-size: 30px;
}
.flooter hr{
    margin-left: 100px;
}
.flooter h6{
    color: rgba(255, 255, 255, 0.502);
    margin: 100px;
    font-size: 11px;
    font-weight: 200;
    margin-top: 20px;
}
.flooter img{
    margin-left: 1600px;
    margin-top: -90px;
    position: absolute;
}